body {
    font-family: Arial;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 350px;
    text-align: center;
    animation: fadeIn 1s ease;
}

input, button {
    width: 90%;
    padding: 10px;
    margin: 10px;
}

button {
    background: #4facfe;
    color: white;
    border: none;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    animation: slideUp 0.7s ease;
}

.diet {
    color: #333;
    font-size: 14px;
}

.chart {
    width: 100%;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@keyframes slideUp {
    from {transform:translateY(20px); opacity:0;}
    to {transform:translateY(0); opacity:1;}
}